@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon_box {
  height: 100px;
  width: 100%;
}

.icons_btn {
  float: right;
  margin: 30px;
  border: none;
  background-color: white;
}

.item_shop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  padding-right: 5px;
  background-color: #f3f3f3;
}

.item_shop_img {
  width: 100px;
}

.item_shop_name, .item_shop_btn, .card_shop_name, .card_shop_btn {
  text-transform: uppercase;
  font-weight: bold;
}

.item_shop_price, .item_shop_btn, .card_shop_btn, .card_shop_price {
  color: red;
}

.item_shop_btn, .card_shop_btn {
  border: 1px solid red;
  border-radius: 40px;
  padding: 10px 15px;
}

.view_box_list {
  margin: 0 10px;
}

.view_box_card {
  display: flex;
  flex-wrap: wrap;
}

.card_shop {
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
  flex: 0 0 20%;
  box-sizing: border-box;
  padding: 30px;
  margin: 6.66%;
  align-items: center;
}

.card_shop_img {
  width: 100%;
}

.card_box_price {
  display: flex;
  width: 100%;
  justify-content: space-between;
}